################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Communication/bin
/Communication/obj
/Crow/bin
/Crow/obj
/Parser/bin
/Parser/obj
/TopPortLib/bin
/TopPortLib/obj
/TestDemo/MockTcpClient/bin
/TestDemo/MockTcpClient/obj
/packages
/TestDemo/PigeonPortDemo/bin
/TestDemo/PigeonPortDemo/obj
/TestDemo/Test/bin
/TestDemo/Test/obj
/TestDemo/TestTcpServer/bin
/TestDemo/TestTcpServer/obj
/TestDemo/TopPortLibIntTest/bin
/TestDemo/TopPortLibIntTest/obj
/TestDemo/TestNamedPipeClient/bin
/TestDemo/TestNamedPipeClient/obj
/TestDemo/TestNamedPipeServer/bin
/TestDemo/TestNamedPipeServer/obj
/TestDemo/PigeonPortProtocolDemo/bin
/TestDemo/PigeonPortProtocolDemo/obj
/TestDemo/TcpServer/bin
/TestDemo/TcpServer/obj
/TestDemo/CondorPortDemo/bin
/TestDemo/CondorPortDemo/obj
/TestDemo/CondorPortProtocolDemo/bin
/TestDemo/CondorPortProtocolDemo/obj
/TestDemo/TcpClient/bin
/TestDemo/TcpClient/obj
/TestDemo/ParserTest/bin
/TestDemo/ParserTest/obj
/TestDemo/TestUdp/bin
/TestDemo/TestUdp/obj
/TestDemo/TestUdp1/bin
/TestDemo/TestUdp1/obj
/Communication.Bluetooth/bin
/Communication.Bluetooth/obj
/TestDemo/Bluetooth/TestClient/bin
/TestDemo/Bluetooth/TestClient/obj
/TestDemo/Bluetooth/TestServer/bin
/TestDemo/Bluetooth/TestServer/obj
